.searchBarContainer {
    flex: 1;
}

.characterList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(189px, 1fr));
    grid-gap: .5em;
    justify-content: space-between;
}

.characterList a {
    text-decoration: none;
}