
.cardWrapper {
    margin-bottom: .5em;
}
.image {
    border-bottom: 5px solid red;
    width: 100%;
}
.cardBottom {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    height: 60px;
    color: var(--color-white);
    background-color: var(--color-black);
    margin-top: -5px;
    align-items: center;
    clip-path: polygon(100% 0, 100% 80%, 90% 100%, 0 100%, 0 0);
}
.cardBottom span {
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
}
.cardBottom svg {
    width: 1em;
}
.cardBottom .labelWrapper {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 25px;
}
.cardBottom button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}