.characterComicsWrapper {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: auto;
    justify-content: space-between;
    column-gap: 1em;
    padding: 1em;
}
.characterComic {
    width: 200px;
}
.characterComic h4 {
    margin-bottom: 5px;
    margin-top: 0;
}
.characterComicsWrapper::-webkit-scrollbar {
    height: 5px;
    border-radius: 10px;
    background-color: lightgray; /* or add it to the track */
  }
.characterComicsWrapper::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }