.wrapper {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: var(--color-black);
    align-items: center;
    border-bottom: 1px solid grey;
}
.favoriteFilterWrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1.5em;
}
.marvelLogoWrapper {
    margin-left: 1.5em;
}
